[submodule "misc"]
	path = misc
	url = https://github.com/decentespresso/de1plus_misc
	branch = main
[submodule "psd"]
	path = psd
	url = https://github.com/decentespresso/de1plus_psd
	branch = main
[submodule "de1plus/skins/MimojaCafe"]
	path = de1plus/skins/MimojaCafe
	url = https://github.com/Mimoja/de1app_skin_MimojaCafe
[submodule "de1plus/plugins/SDB"]
	path = de1plus/plugins/SDB
	url = https://github.com/ebengoechea/de1app_plugin_SDB
[submodule "de1plus/plugins/keyboard_control"]
	path = de1plus/plugins/keyboard_control
	url = https://github.com/vjapolitzer/de1app_plugin_keyboard_control
[submodule "de1plus/plugins/DYE"]
	path = de1plus/plugins/DYE
	url = https://github.com/ebengoechea/de1app_plugin_DYE
[submodule "de1plus/skins/metric"]
	path = de1plus/skins/Metric
	url = https://github.com/barneyhawes/decent-metric/
[submodule "de1plus/skins/DSx"]
	path = de1plus/skins/DSx
	url = https://github.com/Damian-AU/DSx
[submodule "de1plus/plugins/DPx_Screen_Saver"]
	path = de1plus/plugins/DPx_Screen_Saver
	url = https://github.com/Damian-AU/DPx_Screen_Saver
[submodule "de1plus/plugins/old_lcd_disable"]
	path = de1plus/plugins/old_lcd_disable
	url = https://github.com/bkeller2/old_lcd_disable
[submodule "de1plus/skins/MiniMetric"]
	path = de1plus/skins/Mini Metric
	url = https://github.com/barneyhawes/mini-metric
[submodule "de1plus/plugins/D_Flow_Espresso_Profile"]
	path = de1plus/plugins/D_Flow_Espresso_Profile
	url = https://github.com/Damian-AU/D_Flow_Espresso_Profile
[submodule "de1plus/plugins/D_Scheduler"]
	path = de1plus/plugins/D_Scheduler
	url = https://github.com/Damian-AU/D_Scheduler
[submodule "de1plus/skins/DSx2"]
	path = de1plus/skins/DSx2
	url = https://github.com/Damian-AU/DSx2
[submodule "de1plus/plugins/mqtt"]
	path = de1plus/plugins/mqtt
	url = https://github.com/simpkins/de1plus-mqtt.git
	branch = main
[submodule "plugins/skip_first_step_notice"]
	path = plugins/skip_first_step_notice
	url = https://github.com/Damian-AU/skip_first_step_notice
[submodule "de1plus/plugins/skip_first_step_notice"]
	path = de1plus/plugins/skip_first_step_notice
	url = https://github.com/Damian-AU/skip_first_step_notice
[submodule "de1plus/plugins/Graphical_Flow_Calibrator"]
	path = de1plus/plugins/Graphical_Flow_Calibrator
	url = https://github.com/Damian-AU/Graphical_Flow_Calibrator
[submodule "de1plus/plugins/auto_load_profile"]
	path = de1plus/plugins/auto_load_profile
	url = https://github.com/Damian-AU/auto_load_profile
[submodule "de1plus/plugins/history_exclusion_filter"]
	path = de1plus/plugins/history_exclusion_filter
	url = https://github.com/Damian-AU/history_exclusion_filter
[submodule "de1plus/plugins/A_Flow"]
	path = de1plus/plugins/A_Flow
	url = https://github.com/Jan3kJ/A_Flow.git
[submodule "de1plus/profile_editors/D_Flow"]
	path = de1plus/profile_editors/D_Flow
	url = https://github.com/Damian-AU/D_Flow
[submodule "de1plus/profile_editors/A_Flow"]
	path = de1plus/profile_editors/A_Flow
	url = https://github.com/Jan3kJ/A_Flow.git
