[submodule "misc"]
	path = misc
	url = https://github.com/decentespresso/de1plus_misc
	branch = main
[submodule "psd"]
	path = psd
	url = https://github.com/decentespresso/de1plus_psd
	branch = main
[submodule "de1plus/skins/MimojaCafe"]
	path = de1plus/skins/MimojaCafe
	url = https://github.com/Mimoja/de1app_skin_MimojaCafe
[submodule "de1plus/plugins/SDB"]
	path = de1plus/plugins/SDB
	url = https://github.com/ebengoechea/de1app_plugin_SDB
[submodule "de1plus/plugins/keyboard_control"]
	path = de1plus/plugins/keyboard_control
	url = https://github.com/vjapolitzer/de1app_plugin_keyboard_control
[submodule "de1plus/plugins/DYE"]
	path = de1plus/plugins/DYE
	url = https://github.com/ebengoechea/de1app_plugin_DYE
[submodule "de1plus/skins/metric"]
	path = de1plus/skins/Metric
	url = https://github.com/barneyhawes/decent-metric/
[submodule "de1plus/skins/DSx"]
	path = de1plus/skins/DSx
	url = https://github.com/Damian-AU/DSx
[submodule "de1plus/plugins/DPx_Screen_Saver"]
	path = de1plus/plugins/DPx_Screen_Saver
	url = https://github.com/Damian-AU/DPx_Screen_Saver
[submodule "de1plus/plugins/old_lcd_disable"]
	path = de1plus/plugins/old_lcd_disable
	url = https://github.com/bkeller2/old_lcd_disable
[submodule "de1plus/skins/MiniMetric"]
	path = de1plus/skins/Mini Metric
	url = https://github.com/barneyhawes/mini-metric
[submodule "de1plus/plugins/D_Flow_Espresso_Profile"]
	path = de1plus/plugins/D_Flow_Espresso_Profile
	url = https://github.com/Damian-AU/D_Flow_Espresso_Profile
