# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end

/de1plus/build-info.txt
/de1plus/complete_manifest.txt

release
de1plus/plugins/visualizer_upload/settings.tdb
de1plus/plugins/web_api/settings.tdb
de1plus/plugins/log_upload/settings.tdb

# DE1 app run-time files

/de1plus/history/
/de1plus/log.txt
/de1plus/log.txt.*
/de1plus/settings.tdb
/de1plus/tmp/
/de1plus/profiles_v2/*.json
/de1plus/history_v2/*.json
